.subscription {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arch-app {
    border: 3px dotted rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;

}

.arch-app-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.subscription-boundary {
    display: flex;
    flex-direction: column;

    border: solid 2px #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.subscription-components {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 2px;
}

i {
    padding-right: 5px;
}
